@import '_mixins'
@import '_reset'
@import '_header'
@import '_main'
@import '_feature'
@import '_product'
@import "_offer"
@import '_modal'
@import '_production'
@import '_clients'
@import '_feedback'
@import '_contacts'
@import '_footer'
body
    font-family: Roboto, sans-serif
    @include text-color
section
    padding-top: 44px
    margin-top: -44px
.container
    max-width: 940px
    margin: auto
.btn
    display: inline-block
    @include btn-color
    border: none
    border-radius: 5px
    font-size: 15px
    color: #fff
    font-weight: 300
    &:hover
        background-color: lighten(#ff9d00, 10)
        cursor: pointer
.section-title
    text-align: center
    padding: 0
    padding-top: 50px
    &__text
        display: block
        font-weight: 900
        font-size: 27px
        line-height: 1.2 !important
        text-transform: uppercase
    &__image
        margin-top: 15px
.slick-slide
    padding: 0 10px

@media (max-width: 1200px)
    nav
        margin-top: 0px
    .nav
        display: block 
        position: fixed
        left: 0
        top: 0
        transform: translateX(-100%)
        .nav-menu  
            top: 35px          
            display: grid
            position: relative
            grid-template-columns: 1fr
            grid-template-rows: repeat( 7, 1fr)
            background-color: black
            width: 50%
            height: 100%
            a
                width: 100%
                height: 100%
                font-size: 20px
                line-height: 1
    .menu-active
        transform: translateX(0)
        margin-top: 55px
    header
        position: fixed
        z-index: 999
    .header
        z-index: 999
        width: 100%
        position: fixed 
        background-color: #fff     
        padding: 0px
        margin: 0px
        grid-gap: 5px
        &__menu
            justify-self: center
            display: block
            width: 50px
            grid-area: na
        &__logo
            width: 195px
        &__button
            width: 100%
            padding-right: 15px
            .header-btn
                width: 100%  
        &__contacts
            grid-area: co
            margin: 0
            width: 330px
            span       
                font-size: 18px         
                img
                    display: none

    .main
        margin-bottom: 40px
        grid-template-areas: ". . ct ct ct ct ct ct ct ct . ."
        &__image
            display: none
        &__content
            margin-top: 30px
    .clients-content        
        &__images
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(4, 1fr)
    .popup
        top: 150px
@media (max-width: 767px)
    .hidden-mobile
        display: none !important
    .nav
        display: block 
        position: fixed
        left: 0
        transform: translateX(-100%)
        width: 100%
        .nav-menu
            height: 210px
            top: 0         
            display: grid
            position: relative
            grid-template-columns: 1fr
            grid-template-rows: repeat(7, 20px)
            grid-gap: 5px
            background-color: black
            &__item
                a   
                    font-size: 15px
                    border: none
                    line-height: 1
    .menu-active
        transform: translateX(0)
        margin-top: 55px
    .header
        position: fixed
        top: 0
        margin: 0
        padding: 0
        background-color: #f4f4f4
        height: 55px
        width: 100%
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-template-areas: "na lg . co bu"
        grid-gap: 15px
        &__menu
            display: block   
        &__logo
            background: url('../img/header/header-logo-mobile.svg') center center no-repeat
            width: 30px
            height: 30px
            margin-top: 15px
        &__contacts
            margin: 0
            padding: 0
            width: 100%
            margin-top: 15px
            text-align: right
            span
                display: block
                padding: 0
                margin: 0
                font-size: 14px
            img
                display: none
        &__button
            .header-btn
                width: 30px
                height: 30px
                img
                    position: relative
                    left: 5px                 
    .main
        padding-top: 75px
        height: 500px
        grid-template-columns: 100%
        grid-template-rows: 1fr
        grid-template-areas: "ct"
        grid-gap: 0px
        &__content
            grid-area: ct
            width: 90%
            text-align: center
            margin: 0 auto
        &__content-title
            margin-top: 25px
            h1
                color: #ff9d00
                font-size: 30px
                margin: 0
                padding: 0
                line-height: 1
            span
                margin-top: 5px
                display: block
                font-size: 20px
                font-weight: 300
    .form
        width: 100%
        height: 100%
        background: none
        span
            font-size: 15px
            display: block
            margin: 0 auto
            line-height: 1.2
        big
            font-size: 15px
            display: block
        &-input
            display: block
            width: 90%
            padding: 0px 0px 0px 25px
        &-btn
            margin: 0 auto
            margin-top: 10px
        p
            margin: 0
            margin-top: 10px

    .feature
        grid-template-columns: 1fr
        grid-template-rows: repeat(9, 1fr)
        grid-gap: 30px
        height: 100%
        padding-bottom: 40px
        &__title
            margin-top: 30px

    .section-title
        text-align: center
        &__text
            display: block
            font-weight: 900
            font-size: 27px
            line-height: 18px
            text-transform: uppercase
            margin-top: 30px
        &__image
            margin-top: 15px

    section.product-present
        .products
            grid-template-columns: 1fr 1fr
            grid-template-rows: repeat(2, 1fr)
            grid-gap: 5px
            margin-bottom: 0
            &-item
                &__image
                    img
                        width: 100%
                        min-height: 200px
                &__controls
                    margin-top: 5px
                    .info-btn
                        display: none
                        width: 100%
                        margin: 0
                        padding: 15px 20px
                    .btn
                        width: 100%
                        margin: 0

    .offer
        margin-top: 45px
    .offer-box 
        height: 375px
    
    .offer-form
        &__title
            font-size: 16px         
            line-height: 1.2
            margin-top: 55px 
            font-weight: 500
        &__label
            font-size: 14px
            margin-top: 40px

    .production-content
        grid-template-columns: 100%
        grid-auto-rows: 1fr 100%
    .production-slider
        margin-top: 85px
        order: 2
        width: 100%
    .production-slider_bottom
        width: 100%       
        margin: 0 auto
        img
            height: 380px
            width: 100%
            filter: none
        .slick-slide
            padding: 0
    .making-arrow-prev
        z-index: 99
        left: 0px
        background: url('../img/arrows/left-arrow-white.png') center no-repeat
    .making-arrow-next
        z-index: 99
        right: 0px
        background: url('../img/arrows/right-arrow-white.png') center no-repeat
    .production-info
        order: 1
        &__title
            text-align: center
            margin-top: 30px
            padding-left: 0
        &__text
            margin: 0 auto
            text-align: center
            width: 90%
            line-height: 1.2
            font-size: 14px
            padding: 0
            font-weight: 500

    .clients-content
        padding: 0px 10px 0px 10px
        &__images
            grid-template-columns: repeat(2, 49%)
            grid-template-rows: repeat(6, 90px)
            grid-gap: 10px
    .clients-content__image
        filter: none
        img
            width: 75%
            height: 65%

    .contacts-section
        height: 100%
    .contacts-map
        order: 2
        position: relative
        height: 300px
        width: 100%
    .contacts
        order: 1
        position: relative
        text-align: center
        margin: 0 auto
        left: 0
    .popup
        width: 80%
        &-title
            height: 35px
            font-size: 15px
            line-height: 35px
        &-form
            &__header
                font-size: 20px
                font-weight: 500
                span
                    font-size: 15px
            &__label
                font-size: 15px
            &__input
                max-width: 300px
                margin: 0px auto
            &__btn
                position: relative
                margin: 10px auto
                left: 50%
                transform: translateX(-50%)
            &__note
                font-size: 10px
          
    





        







 


        
    
    
 

    
 



  


   
 



    